<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./lib/vue.js"></script>
    <link href="./lib/bootstrap.css" rel="stylesheet">
</head>
<body>
<div id="app">

    <box @func="load"></box>

    <ul class="list-group">
        <li :key="item.id" class="list-group-item" v-for="item in list">
            <span class="badge">评论人：{{item.user}}</span>
            {{item.content}}
        </li>
    </ul>

</div>

<template id="templ">
    <div>
        <div class="form-group">
            <label>评论人：</label>
            <input class="form-control" type="text" v-model="user">
        </div>
        <div class="form-group">
            <label>评论内容：</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>
        <div class="form-group">
            <input @click="post" class="btn-primary" type="button" value="发表评论">
        </div>
    </div>
</template>
<script>
    var commentBox = {
        data() {
            return {
                user: '',
                content: ''
            }
        },
        template: '#templ',
        methods: {
            post() {
                //发表评论的业务逻辑
                var comment = {id: Date.now(), user: this.user, content: this.content}
                //从localstorage 中获取所有评论，
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                list.unshift(comment)
                //重新保存最新的评论数据
                localStorage.setItem('cmts', JSON.stringify(list))
                this.user = this.content = ''
                this.$emit('func')
            }
        }
    }

    var vm = new Vue({
        el: "#app",
        data: {
            list: [
                {id: Date.now(), user: '张三', content: '123'},
                {id: Date.now(), user: '李四', content: '456'},
                {id: Date.now(), user: '王五', content: '567'}
            ]
        },
        created() {
            this.load()
        },
        methods: {
            load() {
                //从本地的localstorage中获取列表
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                this.list = list
            }
        },
        components: {
            box: commentBox,
        }
    })
</script>
</body>
</html>